<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>



<form action="/deviceAPI/device" method="POST" >
    <input style="width:25%" type="text" name="deviceName" id="deviceName" placeholder ="Device name" required>
    <input style="width:25%"  type="text" name="deviceType" id="deviceType" placeholder ="Device type (light/fan..)" required>
    <input style="width:25%" type="text" name="deviceStatus" id="deviceStatus" placeholder ="Device status(true=ON/false=OFF)" required>
    <button  class="btn btn-dark" id="addDevice" class="bg-info">Submit</button>
    <button  class="btn btn-dark" id="dontAdd" class="bg-outline-info">Don't Add</button>

    <p/>
</form>

<script>
    $(function(){
        $('#dontAdd').click((e)=>{
            window.location.reload(true);
        })
    })
</script>



